<lightgallery [onBeforeSlide]="onBeforeSlide" [settings]="settings">
  <a class="gallery-item"
     data-responsive="assets/img/garden_home.jpeg"
     data-src="assets/img/garden_home.jpeg"
     data-sub-html="<h5>Heimischer Garten</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_home.jpeg" alt="Heimischer Garten"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_italy.jpg"
     data-src="assets/img/garden_italy.jpg"
     data-sub-html="<h5>Garten in Italien</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_italy.jpg" alt="Gartentour in Italien"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_thailand.jpg"
     data-src="assets/img/garden_thailand.jpg"
     data-sub-html="<h5>Garten am Meer</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_thailand.jpg" alt="Garten am Meer"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_hiensdorf"
     data-src="assets/img/garden_hiensdorf.jpeg"
     data-sub-html="<h5>Garten in Hiensdorf</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_hiensdorf.jpeg" alt="Garten in Hiensdorf"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_sonnenuhr"
     data-src="assets/img/garden_sonnenuhr.jpeg"
     data-sub-html="<h5>Garten mit Sonnenuhr</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_sonnenuhr.jpeg" alt="Garten mit Sonnenuhr"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_flowers"
     data-src="assets/img/garden_flowers.jpeg"
     data-sub-html="<h5>Garten mit Blumen</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_flowers.jpeg" alt="Garten mit Blumen"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_roof"
     data-src="assets/img/garden_roof.jpg"
     data-sub-html="<h5>Dachbegrünung</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_roof.jpg" alt="Dachbegrünung"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_hofanger"
     data-src="assets/img/garden_hofanger.jpg"
     data-sub-html="<h5>Zeitungsartikel vom Garten Hofanger</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_hofanger.jpg" alt="Zeitungsartikel vom Garten Hofanger"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_wild"
     data-src="assets/img/garden_wild.jpg"
     data-sub-html="<h5>Garten mit Wildblumen</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_wild.jpg" alt="Garten mit Wildblumen"/>
  </a>
</lightgallery>
