<lightgallery [onBeforeSlide]="onBeforeSlide" [settings]="settings">
  <a class="gallery-item"
     data-responsive="assets/img/garden_home.jpeg"
     data-src="assets/img/garden_home.jpeg"
     data-sub-html="<h5>Heimischer Garten</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_home.jpeg" alt="Heimischer Garten"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_italy.jpg"
     data-src="assets/img/garden_italy.jpg"
     data-sub-html="<h5>Garten in Italien</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_italy.jpg" alt="Gartentour in Italien"/>
  </a>
  <a class="gallery-item"
     data-responsive="assets/img/garden_thailand.jpg"
     data-src="assets/img/garden_thailand.jpg"
     data-sub-html="<h5>Garten in Thailand</h5><p>Foto von Garten- und Landschaftsbau Irene Schroll</p>">
    <img class="img-responsive"
         src="assets/img/garden_thailand.jpg" alt="Garten in Thailand"/>
  </a>
</lightgallery>
