@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
.gallery-item {
  display: inline-block;
  margin: 20px 10px;
}

.img-responsive {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
