<div>
<p>Angaben gemäß § 5 TMG:</p>
<br>
<p>Garten- und Landschaftsbau Irene Schroll</p>
<p>Hiensdorf 1</p>
<p>83377 Vachendorf</p>
<p>Deutschland</p>
<br>
<p>Geschäftsführerin:</p>
<p>Irene Schroll</p>
<br>
<p>Kontakt:</p>
<p>Telefon: 08661 982973</p>
<p>Mobil: +49 15775235977</p>
<p>E-Mail: irene.schroll@gmx.de</p>
<br>
<p>Handelsregister: [Handelsregister und Nummer, z.B. HRB 12345]</p>
<p>Registergericht: Amtsgericht Traunstein</p>
<br>
<p>Umsatzsteuer-ID:</p>
<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:</p>
<p>[DE123456789]</p>
<br>
<p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
<p>Philipp Stasswender</p>
<p>Hiensdorf 1</p>
<p>83377 Vachendorf</p>
<br>
<p>Haftungshinweis:</p>
<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
<br>
<p>Urheberrecht:</p>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
<br>
<p>Datenschutz:</p>
<p>Der Schutz Ihrer persönlichen Daten ist uns ein wichtiges Anliegen. Wir verarbeiten persönliche Daten, die beim Besuch unserer Website erhoben werden, gemäß den gesetzlichen Bestimmungen.</p>
</div>
