/* Füge dem äußeren div flex-Container hinzu */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

div > div {
  margin: 20px;
}
div > div:last-child {
  display: flex;
  flex-flow: column;
  /* align-items: flex-start;*/
  text-align: left;
}
h5 {
  color: black !important;
  width: 60%;
  margin: 15px;
}
h5 span {
  font-weight: bold;
}
a {
  color: blue;
  text-decoration: underline;
  font-size: 1.5vw !important;
}
