<div class="container">
  <div class="image-container">
    <img src="assets/img/map_hiensdorf.png" alt="map of hiensdorf">
  </div>
  <div class="text-container">
    <p>Ich bin am besten Mobil zu erreichen, falls ich ihren Anruf nicht entgegennehmen kann, versuchen Sie es bitte zu
      einem späteren Zeitpunkt erneut.</p>
    <p><span>Mobil: </span><a href="tel:+4915253571678">+49 15253571678</a></p>
    <p><span>E-Mail: </span><a href="mailto:irene.schroll@gmx.de">irene.schroll@gmx.de</a></p>
  </div>
</div>
