<div>
  <div>
    <iframe
      width="600px"
      height="450px"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-CG9mtkXNiahmulC1EdX6INPhy4qDUH8&q=47.8510601197476, 12.583949101539545"
      allowfullscreen>
    </iframe>
  </div>
  <div>
    <h5>Ich bin am besten Mobil zu erreichen, falls ich ihren Anruf nicht entgegennehmen kann, versuchen Sie es bitte zu
      einem späteren Zeitpunkt erneut.</h5>
    <h5><span>Mobil: </span><a href="tel:+4915253571678">+49 15253571678</a></h5>
    <h5><span>E-Mail: </span><a href="mailto:irene.schroll@gmx.de">irene.schroll@gmx.de</a></h5>
  </div>
</div>
