<div>
  <h4>Datenschutzerklärung</h4>

  <h5>Verantwortlich für die Datenverarbeitung</h5>
  <p>
    Irene Schroll<br>
    Garten- und Landschaftsbau Irene Schroll<br>
    Hiensdorf 1<br>
    83377 Vachendorf<br>
    E-Mail: <a href="mailto:irene.schroll@gmx.de">irene.schroll@gmx.de</a><br>
    Mobil: <a href="tel:+4915253571678">+49 15253571678</a>
  </p>

  <h5>Zweck der Datenverarbeitung</h5>
  <p>Die Verarbeitung Ihrer personenbezogenen Daten erfolgt zum Zweck der Vertragserfüllung, insbesondere zur Erstellung
    und Zustellung von Rechnungen für erbrachte Leistungen im Bereich Garten- und Landschaftsbau.</p>

  <h5>Kategorien personenbezogener Daten</h5>
  <p>Wir erheben folgende Daten, die für die Erstellung einer Rechnung erforderlich sind: Name und Adresse des
    Kunden.</p>

  <h5>Rechtsgrundlage für die Datenverarbeitung</h5>
  <p>Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf Grundlage der Vertragserfüllung gemäß Artikel 6 Abs. 1
    lit. b DSGVO.</p>

  <h5>Einsatz von Lexoffice</h5>
  <p>Für die Buchhaltung nutzen wir das Buchhaltungsprogramm Lexoffice. Beachten Sie, dass hierdurch Daten in einer
    externen Cloud verarbeitet und gespeichert werden. Lexoffice ist ein Produkt der Haufe Group, welche sich dazu
    verpflichtet, die europäischen Datenschutzstandards einzuhalten.</p>

  <h5>Übermittlung von Daten</h5>
  <p>Eine Übermittlung Ihrer Daten an Dritte außerhalb der EU findet nicht statt.</p>

  <h5>Speicherdauer</h5>
  <p>Im Einklang mit den rechtlichen Anforderungen des § 14b Abs. 1 Satz 1 UStG bewahren wir Rechnungen für einen
    Zeitraum von 10 Jahren auf.</p>

  <h5>Betroffenenrechte</h5>
  <p>Sie besitzen das Recht auf Auskunft, Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer
    personenbezogenen Daten sowie das Recht auf Datenübertragbarkeit und Widerspruch gegen die Datenverarbeitung.</p>

  <h5>Widerrufsrecht</h5>
  <p>Eine erteilte Einwilligung zur Verarbeitung personenbezogener Daten können Sie jederzeit widerrufen. Der Widerruf
    berührt jedoch nicht die Rechtmäßigkeit der bis zum Widerruf erfolgten Verarbeitung.</p>

  <h5>Beschwerderecht</h5>
  <p>Es besteht ein Beschwerderecht bei der zuständigen Datenschutz-Aufsichtsbehörde.</p>

  <h5>Kontakt für Datenschutzanfragen:</h5>
  <p>Für Fragen oder Anliegen bezüglich des Datenschutzes können Sie uns jederzeit unter der oben genannten Adresse
    kontaktieren.</p>

  <p>Letzte Aktualisierung: 31.01.24</p>

</div>
