.home-bar {
  background: whitesmoke;
}

h3 {
  color: black !important;
  margin: 0 !important;
}

.nav-bar {
  background: forestgreen;
}

.footer {
  margin-top: auto;
  background: forestgreen;
}

a {
  color: whitesmoke !important;
}

a:hover, a:active{
  color: darkgoldenrod !important;
}
