<div class="container">
  <mat-card class="mx-auto">
    <div class="d-flex justify-content-between">
      <div>
        <img mat-card-image [src]="serviceImages[0]" alt="service-consulting">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title><h4>Beratung</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Umfassende Beratung durch einen erfahrenen Gartenbauer, der Ihnen bei der Auswahl von Pflanzen, der
            Gestaltung
            von Außenbereichen und der Lösung spezifischer Gartenprobleme behilflich ist, um sicherzustellen, dass Ihr
            Garten Ihren individuellen Bedürfnissen und Vorstellungen entspricht.
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <mat-card class="mx-auto">
    <div class="d-flex justify-content-between">
      <div>
        <img mat-card-image [src]="serviceImages[1]" alt="service-planing">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title><h4>Planung</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Detaillierte Gartenplanung, beginnend mit einer umfassenden Analyse Ihres Grundstücks und Ihrer Wünsche,
            gefolgt
            von einem maßgeschneiderten Gestaltungskonzept, das Pflanzenauswahl, Baustrukturen im Garten und eine
            nachhaltige Nutzung des Raums berücksichtigt.
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <mat-card class="mx-auto">
    <div class="d-flex justify-content-between">
      <div>
        <img mat-card-image [src]="serviceImages[2]" alt="service-care">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title>
            <h4>Pflege</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Regelmäßige Gartenpflege, einschließlich Rasenmähen, Heckenschnitt, Unkrautbekämpfung und Düngung, um die
            Gesundheit und Schönheit Ihres Gartens zu erhalten und die langfristige Wertsteigerung zu gewährleisten.
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <mat-card class="mx-auto">
    <div class="d-flex justify-content-between">
      <div>
        <img mat-card-image [src]="serviceImages[4]" alt="service-planting">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title><h4>Bepflanzung</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ob neu oder alt – die richtige Bepflanzung macht Ihren Garten zur Wohlfühloase. Wir finden die passenden Pflanzen für Ihren Standort, damit Sie sich vom Frühjahr bis zum Herbst an einer Blütenpracht erfreuen können. Lassen Sie sich von unseren Experten beraten und vermeiden Sie teure Fehlkäufe!
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
