mat-card {
  margin: 20px;
  border: 2px solid forestgreen;
  max-width: 90%;
  @media (max-width: 360px) {
    width: 180px;
  }
}

img {
  object-fit: cover;
  height: 100%;
  max-width: 20vw;
  @media (max-width: 360px) {
    display: none !important;
  }
}

