<div class="flex-column">
  <mat-card class="service-card">
    <img mat-card-image [src]="serviceImages[0]" alt="service-consulting">
    <mat-card-header>
      <mat-card-title>Beratung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="service-card__description">
        In der Beratung geht es um die
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <img mat-card-image [src]="serviceImages[1]" alt="service-consulting">
    <mat-card-header>
      <mat-card-title>Plannung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="service-card__description">
        In der Beratung geht es um die
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <img mat-card-image [src]="serviceImages[2]" alt="service-consulting">
    <mat-card-header>
      <mat-card-title>Pflege</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="service-card__description">
        In der Beratung geht es um die
      </p>
    </mat-card-content>
  </mat-card>
</div>
