 <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="img-wrapper">
        <img [src]="images[0]" alt="Random first slide"/>
      </div>
      <div class="carousel-caption">
        <h4>Wie der Gärtner, so der Garten</h4>
        <p>Hebräisches Sprichwort</p>
        <button mat-stroked-button routerLink="/about-us" class="primary-button">Mehr über uns</button>
        <button mat-stroked-button routerLink="/contact" class="secondary-button">Kontaktiere uns</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-wrapper">
        <img [src]="images[1]" alt="Random second slide"/>
      </div>
      <div class="carousel-caption">
        <h4>Unkraut ist die Opposition der Natur gegen die Regierung der Gärtner</h4>
        <p>Oskar Kokoschka (österreichischer Maler und Schriftsteller)</p>
        <button mat-stroked-button routerLink="/services" class="primary-button">Unsere Leistungen</button>
        <button mat-stroked-button routerLink="/contact" class="secondary-button">Kontaktiere uns</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-wrapper">
        <img [src]="images[2]" alt="Random third slide"/>
      </div>
      <div class="carousel-caption">
        <h4>Ein Garten ist eine Möglichkeit, ein kleines Paradies auf Erden zu schaffen</h4>
        <p>Unbekannt</p>
        <button mat-stroked-button routerLink="/gallery" class="primary-button">Unsere Bilder</button>
        <button mat-stroked-button routerLink="/contact" class="secondary-button">Kontaktiere uns</button>
      </div>
    </ng-template>
  </ngb-carousel>

<div class="d-flex justify-content-center flex-wrap">
  <mat-card routerLink="/services">
    <img mat-card-image [src]="serviceImages[0]" alt="service-consulting">
    <mat-card-header>
      <mat-card-title>
        <h5>Beratung</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Professionelle Beratung für die optimale Gestaltung und Pflege Ihres Gartens
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/services">
    <img mat-card-image [src]="serviceImages[1]" alt="service-planing">
    <mat-card-header>
      <mat-card-title>
        <h5>Planung</h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Individuelle Gartenplanung für die kreative Gestaltung Ihres Traumgartens.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/services">
    <img mat-card-image [src]="serviceImages[2]" alt="service-care">
    <mat-card-header>
      <mat-card-title>
        <h5>Pflege</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Fachgerechte Pflege und Wartung für einen gesunden und gepflegten Garten.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/services">
    <img mat-card-image [src]="serviceImages[4]" alt="service-planting">
    <mat-card-header>
      <mat-card-title>
        <h5>Bepflanzung</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Wir verwandeln Ihren Garten in eine ganzjährige Blütenpracht – mit der richtigen Bepflanzung für Ihren Standort
      </p>
    </mat-card-content>
  </mat-card>
</div>
