img {
  object-fit: cover;
}

.img-wrapper {
  max-height: 40vh;
}

.carousel-caption {
  top: 20%;
  bottom: auto !important;
  color: whitesmoke;
}

.primary-button {
  background: forestgreen;
  margin-right: 12px;
}

mat-card {
  width: 25%;
  margin: 20px;
  border: 2px solid forestgreen;
  cursor: pointer;
  @media (max-width: 768px) {
      width: 180px
    }
}

mat-card > img {
  max-height: 20vh;
}
