<div class="container">
  <div class="image-container">
    <img src="assets/img/profile.jpeg" alt="Profilbild">
  </div>
  <div class="text-container">
    <p>Herzlich willkommen auf meiner Website! Ich bin Irene Schroll, eine erfahrene Gärtnerin mit über 40 Jahren
      Berufspraxis im Garten- und Landschaftsbau. Neben meiner Leidenschaft für Gärtnern bringe ich vielfältige Erfolge
      als Vizeweltmeisterin und mehrfache deutsche Meisterin im Biathlon mit. Mein Fachwissen erstreckt sich über eine
      umfassende Ausbildung und den erfolgreichen Abschluss meines Meisters im Bereich Gartenbau. Zusätzlich
      verfüge ich über eine spezialisierte Ausbildung im Anbau und Anwendung von Kräutern. Lassen Sie uns
      gemeinsam Ihren Garten in ein blühendes Paradies verwandeln!</p>
  </div>
</div>
